
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;

}

.card-body {
    min-height: 1px;
    padding: 1rem;
}


.avatar-img {
  border: 0.3rem solid rgba(#fff, 0.3);
  max-width: 200px;
  border-radius: 16px;
}

.address-view {
    text-align: left;
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px #d1d7d7;
    padding: 16px;
}


.address-view__text{
    width: 100%;
    font-size: 16px;
    line-height: 1.38;
    color: #2e3333;
}

.font{
  font-family: Nunito;
}

#editable{
  display:none
}

.image-size {
  max-width: 100px;
  max-height: 100px;
}
