<div class="container my-3">
  <h1>All bakers</h1>
</div>

<div class="container">
  <div class="cards">
    <% @bakers.each do |baker| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.biggerbolderbaking.com/wp-content/uploads/2018/03/No-Bake-Chocolate-Chip-Cookies1.jpg" alt="product image">
        <div class="card-body">
          <div class="card-title">
            <%= baker.username %>
          </div>
          <p class="card-text"><% baker.bio %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
