<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.biggerbolderbaking.com/wp-content/uploads/2018/03/No-Bake-Chocolate-Chip-Cookies1.jpg" alt="product image">
  <div class="card-body">
    <div class="card-title justify-content-between">
      <p>Cookies</p>
      <p>$5</p>
    </div>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
