<div class="container">
  <h1>Payment successful!</h1>
  <i class="far fa-check-circle fa-10x"></i>
</div>

<div class="container">
  <div class="progress-bar-container">
  <div class="step-wizard" role="navigation">
    <div class="progress">
      <div class="progressbar empty"></div>
      <div id="prog" class="progressbar"></div>
    </div>
    <ul>
      <li class="done">
        <button id="step1">
          <div class="step">1</div>
          <div class="title">Review order</div>
        </button>
      </li>
      <li class="done">
        <button id="step2">
          <div class="step">2</div>
          <div class="title">Pay</div>
        </button>
      </li>
      <li class="active">
        <button id="step3">
          <div class="step">3</div>
          <div class="title">Order confirmed</div>
        </button>
      </li>
      <li class="">
        <button id="step4">
          <div class="step">4</div>
          <div class="title">Review baker</div>
        </button>
      </li>
    </ul>
  </div>
</div>
</div>

<!-- <div class="container">
      <div class="progress">
        <div class="bar">
          <div class="bar__fill" style="width: 33%">
        </div>
          <div class="point point--complete">
              <div class="bullet"></div>
            </div>
            <div class="point point--active">
              <div class="bullet"></div>
              <div class="label">Select</div>
            </div>
            <div class="point">
              <div class="bullet">
                <label for="" class="label">Select</label>
              </div>
            </div>
            <div class="point">
              <div class="bullet">
                <label for="" class="label">Select</label>
              </div>
            </div>
        </div>
      </div>
</div> -->
