 .card-title{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  /* identical to box height */
  display: flex;
  align-items: center;
  margin-bottom: auto

}

.card-text{

  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}
